<h1>New User</h1>
<.simple_form :let={f} for={@changeset} action={~p"/users"}>
  <.input field={f[:name]} label="Name"/>
  <.input field={f[:username]} label="Username"/>
  <:actions>
    <.button>Save</.button>
  </:actions>
</.simple_form>